

.navbar {
    display:inline-flex;
    justify-content: space-between;

}

.bar {
    width: 35vw;
}

p {
    text-align: center;
}


.container {
  display: grid;
  background-color: rgba(21, 255, 0, 0.517);
  padding: 10px;
}
.container div {
  background-color: #ffffff87;
  border: 1px solid black;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}